:root {
    --first-row-height: -16px;
    --second-row-height: -253px;
}

.guessWho {
    max-width: 500px;
    margin: 0 auto;
}

.board {
    display: flex;
    flex-wrap: wrap;
}


.character, #selected {
    background-color: aquamarine;
    height: 200px;
    width: 110px;
    margin: 20px;
    background: url(Imagen.jpg);
    cursor: pointer;
}

#selected {
    margin: 30px auto;
}

.character:nth-child(1) {
    background-position: -23px var(--first-row-height);
}

.character:nth-child(2) {
    background-position: -160px var(--first-row-height);
}

.character:nth-child(3) {
    background-position: -297px var(--first-row-height);
}

.character:nth-child(4) {
    background-position: -442px var(--first-row-height);
}

.character:nth-child(5) {
    background-position: -578px var(--first-row-height);
}

.character:nth-child(6) {
    background-position: -23px var(--second-row-height);
}

.character:nth-child(7) {
    background-position: -160px var(--second-row-height);
}

.character:nth-child(8) {
    background-position: -297px var(--second-row-height);
}

.character:nth-child(9) {
    background-position: -442px var(--second-row-height);
}

.hide {
    background: violet;
}